.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*width: 280px; */
    margin-bottom: 30px;
    border: 1px solid  #283618; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px #5F6C37; 
    background-color: #FEF9E0; /* Add background color */
    transition: transform 0.3s ease; /* Move transition outside hover */
}

.item:hover {
    transform: scale(1.05);
}

.item img {
  /*  width: 280px;*/
    max-width: 100%;
    height: auto;
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}

.item-details {
    padding: 20px; 
}

.item-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.item-details p {
    font-size: 16px;
    color: #283618;
    margin-bottom: 10px;
}

@media(max-width: 1280px){
   .item{
    width: 220px;
    font-size: 14px;
   }
  .item img{
    width: 220px;
  }
}

@media(max-width: 1024px){
    .item{
     width: 170px;
     font-size: 13px;
    }
   .item img{
     width: 170px;
   }
 }
 

 @media(max-width: 800px){
    .item{
     width: 120px;
     font-size: 12px;
    }
   .item img{
     width: 120px;
   }
 }
 

 @media(max-width: 500px){
    .item{
     width: 160px;
     font-size: 12px;
    }
   .item img{
     width: 160px;
   }
 }
 