body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.loginsignup {
    width: 100%;
    background: #FEF9E0;
    padding-top: 100px;
    padding-bottom: 100px; /* Add padding to the bottom */
    flex: 1; /* Allow this section to grow and fill available space */
}

.loginsignup-container {
    width: 580px;
    height: auto; /* Allow content to define the height */
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1 {
    margin: 20px 0px;
    font-size: 36px; /* Increase font size */
    font-weight: 700; /* Make text bold */
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container button {
    width: 100%; /* Change to 100% to fit within container */
    height: 72px;
    color: white;
    background: #5F6C37;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-container button:hover {
    background: #4e5931; /* Optional: Add a hover effect for better UX */
}

.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #283618;
    font-weight: 600;
    cursor: pointer; /* Optional: Add cursor pointer to indicate clickability */
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 40px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
