.user-request-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 60vh;
    padding: 20px;
    margin: 30px auto;
    background: #FEF9E0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-request-form-container h2 {
    color: #283618;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
}

.user-request-form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.user-request-form-container input,
.user-request-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* Increase space between inputs */
    border: 1px solid #BB6C25;
    border-radius: 4px;
    background-color: #FEF9E0;
    color: #283618;
    font-size: 16px;
}

.user-request-form-container input {
    height: 40px; /* Add height to inputs */
}

.user-request-form-container textarea {
    height: 100px; /* Add height to textarea */
}

.user-request-form-container input::placeholder,
.user-request-form-container textarea::placeholder {
    color: #5F6C37;
}

.user-request-form-container button {
    align-self: center;
    background-color: #5F6C37;
    color: #FEF9E0;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-request-form-container button:hover {
    background-color: #283618;
}

@media(max-width: 800px) {
    .user-request-form-container {
        padding: 10px 20px;
    }

    .user-request-form-container form {
        width: 95%;
    }
}
