.getstarted {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #FEF9E0,#5F6C37 60%);
    padding: 20px;
  }
  
  .getstarted-left {
    flex: 1;
  }
  
  .getstarted-right {
    flex: 1;
  }
  
  .getstarted h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .getstarted-line {
    display: flex;
    align-items: center;
  }
  
  .getstarted-line p {
    margin: 0 5px;
  }
  
  .getstarted-hand-icon img {
    width: 50px;
  }
  
  .getstarted-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    background: #283618;
    color: #FEF9E0;
    font-size: 18px;
    font-weight: 500;
  }
  
  .getstarted-latest-btn > div {
    
    color: #FEF9E0;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .getstarted-latest-btn img {
    margin-left: cpx;
    width: 20px;
  }
  