.getstarted{
    height: 85vh;
    background: linear-gradient(180deg, #fef9e0, #5f6c37 60%);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getstarted-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
    padding-left: 180px;
    align-items: center;
    line-height: 1.1;
}

.getstarted-left h2 {
    color: #283618;
    font-size: 26px;
    font-weight: 600;
}

.getstarted-left p {
    color: #283618;
    font-size: 100px;
    font-weight: 700;
}

.getstarted-latest-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    background: #283618;
    color: #fef9e0;
    font-size: 18px;
    font-weight: 500;
}

.getstarted-latest-btn img {
    height: 22px;
    width: 22px;
    color: #fef9e0;
}

.getstarted-right{
    /* margin-top: 30px;
    margin-right: 120px;
    align-items: center; */

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1280px){
    .getstarted-left{
        padding-left: 100px;
    }
    .getstarted-left h2{
        font-size: 22px;
    }
    .getstarted-left p{
        font-size: 60px;
    }
    .getstarted-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin: 20px;
        font-size: 18px;
    }
    .getstarted-right img{
        width: 500px;
    }
}


@media(max-width: 1024px){
    .getstarted-left{
        padding-left: 80px;
    }
    .getstarted-left h2{
        font-size: 20px;
    }
    .getstarted-left p{
        font-size: 50px;
     }
    .getstarted-latest-btn{
        width: 220px;
        height: 50px;
        font-size: 16px;
    }
    .getstarted-right img{
        width: 400px;
    }
}


@media(max-width: 800px){
    .getstarted-left{
        padding-left: 30px;
    }
    .getstarted-left h2{
        font-size: 16px;
    }
    .getstarted-left p{
        font-size: 40px;
     }
    .getstarted-latest-btn{
        width: 175px;
        height: 40px;
        font-size: 13px;
    }
    .getstarted-right img{
        width: 300px;
    }
}


@media(max-width: 500px){
    .getstarted{
        flex-direction: column;
    }
    .getstarted-right{
        display: none;
    }
    .getstarted-left h2{
        font-size: 18px;
    }
    .getstarted-left p{
        font-size: 50px;
     }
    .getstarted-latest-btn{
        width: 200px; 
        height: 45px;
        font-size: 14px;
    } 
} 