.getstarted{
    height: 85vh;
    background: linear-gradient(180deg, #FEF9E0,#5F6C37 60%);
    display: flex;
}

.getstarted-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 20px;
    padding-left: 180px;
    align-items: center;
    line-height: 1.1;
}

.getstarted-left h2{
    color:#283618;
    font-size: 26px;
    font-weight: 600;
}

.getstarted-left p{
    color:#283618;
    font-size: 100px;
    font-weight: 700;
}

.getstarted-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #283618;
    color: #FEF9E0;
    font-size: 18px;
    font-weight: 500;
}

.getstarted-latest-btn img{
  height: 22px;
  width: 22px;
  color: #EEF9E0;
}

.getstarted-right{
    margin-top: 30px;
    margin-right: 50px;
    align-items: center;
}

