.popular {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1 {
    color: #283618;
    font-size: 50px;
    font-weight: 600;   
}

.popular hr{
    width: 400px;
    border-color: #283618;
}

.popular-item{
    color: #283618;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;  
}

.popular-item .item{
    width: calc(20% - 30px);
    justify-content: center;
    display: flex;
}

.popular-item .item img{
    max-width: 100%;
    height: auto;
}